<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Item</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>


<body class="bg-light">
    <div class="container mt-5">
        <h1 id="judul" class="text-primary text-center mb-4">Tambah Item</h1>
        <form class="border p-4 bg-white shadow rounded">
            <div class="mb-3">
                <label for="nama" class="form-label">Nama Mobil</label>
                <input type="text" id="nama" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="stok" class="form-label">Stok Mobil</label>
                <input type="number" id="stok" class="form-control" min="0" required>
            </div>
            <div class="mb-3">
                <label for="harga" class="form-label">Harga Mobil</label>
                <input type="number" id="harga" class="form-control" min="0" required>
            </div>
            <div class="mb-3">
                <label for="keterangan" class="form-label">Keterangan Mobil</label>
                <input type="text" id="keterangan" class="form-control" min="0" required>
            </div>
            <div class="d-flex justify-content-between">
                <button type="submit" id="addData" class="btn btn-primary">Tambah</button>
                <button type="button" id="batal" class="btn btn-secondary" onclick="history.back()">Kembali</button>
            </div>
        </form>
    </div>


    <!-- Bootstrap JS (Optional) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        async function addData() {
            event.preventDefault();
            let nama = document.getElementById("nama").value;
            let stok = parseInt(document.getElementById("stok").value);
            let harga = parseInt(document.getElementById("harga").value);
            let keterangan = document.getElementById("keterangan").value;


            let result = await fetch("/api/items", {
                method: "POST",
                headers: {
                    "Content-type": "application/json"
                },
                body: JSON.stringify({
                    nama,
                    stok,
                    harga,
                    keterangan
                })
            });


            if (!result.ok) {
                return new Error("Failed to post data");
            } else {
                if (!nama || isNaN(stok) || isNaN(harga)) {
                    alert("Pastikan kembali semua field sudah terisi");
                } else {
                    let response = await result.json();
                    if (response.response != null) {
                        alert("Data berhasil ditambahkan");
                        window.location.href = "/";
                    } else {
                        alert("Gagal menambahkan Data");
                    }
                }
            }
        }


        let tambah = document.getElementById("addData");
        tambah.addEventListener('click', addData);
    </script>
</body>


</html>